html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* ensures full viewport height */
}

.main-content {
  flex: 1;
  overflow: visible !important;
  position: relative;
  z-index: 0;
}



* {
  box-sizing: border-box;
}
